<article>
  <div>
    <div>
      <a href='/game/{{this._id}}'>
        <h2>{{this.name}}</h2>
      </a>
      <p>{{this.description}}</p>
      <p>Rating: {{this.rating}}</p>
      <p><img src="{{this.image}}"> </p>
    </div>
  </div>
</article>