<article>
  <div>
    <div>
      <a class="gametitle" href='/game/{{this._id}}'>
        <h2>{{this.name}}</h2>
      </a>
      <p class="picturegame"><img src="{{this.image}}"> </p>
      <p>Year: {{this.year}}</p>
      <p>Rating: {{this.rating}}</p>
      <p>Number of players: {{this.numOfPlayers}}</p>
      <p>Playing time: {{this.playingTime}}</p>
    </div>
    <br>
    <div class="linebutton">
      <form method="post" action="/game/{{this._id}}/favorite">
        <button type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />

          </svg>
        </button>

      </form>

      <form method="POST" action="/game/{{_id}}/delete">
        <button type="submit"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
            </path>

          </svg></button>
      </form>
    </div>
  </div>
</article>