<div class='container px-4 m-auto'>

  <div class='mt-4'>
    <h1 class='text-lg font-bold addtitle'>Edit game</h1>
    <div class="subadd">
      <h3>Be careful while you edit the game as other users are sharing the same information</h3>
    </div>
    <form class='flex flex-col gap-y-4 mt-4 formadd' method='POST' action='/game/{{game._id}}'>
      <label for='name'>Name</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='name' id='name'
        placeholder='game name' value='{{game.name}}' />
      <label for='year'>Year</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='year' id='year'
        placeholder='year' value='{{game.year}}' />
      <label for='description'>Description</label>
      <textarea class='p-4 rounded-xl border border-solid border-gray-400 inputadd' name='description' id='description'
        placeholder='game description'>{{game.description}}</textarea>
      <label for='image'>Boardgame Image</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='image' id='image'
        placeholder='image path' value='{{game.image}}' />
      <label for='rating'>Rating</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='rating' id='rating'
        placeholder='game rating' value='{{game.rating}}' />
      <label for='playingTime'>Playing Time</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='playingTime'
        id='duration' placeholder='game duration' value='{{game.playingTime}}' />
      <label for='numOfPlayers'>Number of players</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='numOfPlayers'
        id='country' placeholder='number of players' value='{{game.numOfPlayers}}' />
      <label for='difficulty'>Difficulty</label>
      <input class='p-4 rounded-xl border border-solid border-gray-400 inputadd' type='text' name='difficulty'
        id='difficulty' placeholder='difficulty' value='{{game.difficulty}}' />
      <button type='submit' class='btn'>Save changes</button>
    </form>
  </div>
</div>